h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 40px; text-align: center; font-weight: 700;}
h2 {font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; font-weight: 300;}
h3 {}
body{
  background-color:rgb(132, 221, 221);
}
